.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #5bc5a7;
  font-size: 14px;
  color: white;
  top: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
}

.site-name {
  margin: 5px;
  margin-left: 15px;
  text-shadow: 0 -1px 0 #318970;
}
