.dropbtn {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  border-radius: 5px;
}

#dropbtn-user {
  display: flex;
  align-items: center;
  border-width: 0;
  text-shadow: 0 -1px 0 #318970;
  padding: 0 2px 0 2px;
}

#dropbtn-user::after {
  content: '\25BE';
  margin-left: 3px;
}

.material-icons::after {
  content: " ";
  margin-left: 3px;
}
.dropdown-item:hover {
  color: white;
  background-color: #4bbc9c;
}


/* The container <div> - needed to position the dropdown content */
.user-dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 180px;
    height: 100%;
    // padding-right: 10px;
    margin-right: 10px;
}

#dropbtn-user:hover {
  background-color: #54b79b;
  height: 100%;
  border-radius: 0;
}

.account-circle {
  // padding-right: 5px;
}
/* Dropdown Content (Hidden by Default) */
.user-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    top: 100%;
    // left: auto;
    // right: 0;
    // margin-right: 90px;
}

/* Links inside the dropdown */
.user-dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
// .dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
