.left-sidebar {
  width: 180px;
  // display: flex;
  // flex-direction: column;
  margin-right: 20px;
  margin-top: 5px;
  height: 100%;
}

.all-expenses-link {
  margin-top: 5px;
  font-family: 'Latos', sans-serif;
  height: 20px;
  border-left: 6px solid #fff;
  font-size: 14px;
  padding: 3px 8px 2px 8px;
  font-size: 14px;
  color: #999;
}

.all-expenses-link:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  color: #4d4d4d;
}

.all-expenses-link:focus {
  border-left: 6px solid #5bc5a7;
  color: #5bc5a7;
  font-weight: bold;
}
